html
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}  

body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-repeat: no-repeat;
  background-size: cover;
  
}  

a,
.transition,
:after,
:before,
input[type="submit"] {
  -moz-transition: all .3s;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  transition: all .3s;
}

/* .navbar {
  border: none;
  min-height: 46px;
} */
/* 
navbar {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #FFF !important;
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  border-bottom: 2px solid #6fc0ea; } */

  .navbar-brand  {
    width: 93px;
      height: 25px;
      background: url(../images/logo.png) no-repeat center !important;
      background-size: contain !important;
      text-indent: -999999px;
    position: relative;
    margin-left: 37%;
    margin-top: 12px;
  }

  .navbar-default {
    background-color: #f8f8f8;
    border-bottom: 2px solid #6fc0ea;
}
  
  header .menu-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 19px;
    color: #6fc0ea; }
  header nav {
    position: fixed;
    top: 60px;
    left: 100%;
    width: 100%;
    height: calc(100vh - 60px);
    background: #FFF;
    padding: 20px; }
    header nav .main-menu {
      display: block;
      text-align: right; }
      header nav .main-menu li {
        display: block;
        margin: 0; }
        header nav .main-menu li a {
          line-height: 40px;
          color: #6fc0ea !important; }
          header nav .main-menu li a:before {
            display: none; }
          header nav .main-menu li a:hover {
            color: #6fc0ea !important; }
  header.menu-opened nav {
    left: 0; }


    .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
      margin-right: -15px;
      margin-left: -15px;
      border-bottom: 2px solid #6fc0ea;
  }


 @font-face {
   font-family: ComoNormal;
   src: url(../fontes/ComoNormal.otf);
 }

 @font-face {
  font-family: ComoMedio;
  src: url(../fontes/ComoMédio.otf);
}

@font-face {
  font-family: ComoBold;
  src: url(../fontes/ComoBold.otf);
}

@font-face {
  font-family: ComoDenso;
  src: url(../fontes/ComoDenso.otf)
}

 


.titulo-clientes {
  color: #fff;
  font-size: 30px;
  text-align: center;
  font-family: ComoBold;
}

.titulo-primo {
  margin-top: 33px;
  align-items: center;
  text-align: center;
  margin-left: 7px;
  margin-right: 7px;
}

.textos-celular {
  font-family: ComoDenso;
  color: #000;
  margin-left: -68px;
  margin-top: -144px;
}

.titulo-um {
  font-size: 30px;
}

.texto-um {
  font-size: 20px;
}

/*Efeito Scroll*/
.section {
  align-items: center;
  background: url('../images/Paralaxe\ Mão\ Smartphone\ AS_218001175.png') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
  
}

.section1 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center/ cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -2;
}

.section2 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -3;
}

.section3 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -4;
}

.section4 {
display: none;
}

.section41 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -5;
}

.section5 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -6;
}

.section6 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
  z-index: -7;
}

.section61 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -8;
}

.section7 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -9;
}

.section8 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -10;
}

.section81 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -11;
}


.section9 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -12;
}

.section10 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -13;
}

.section11 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -14;
}

.section12 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -15;
}

.section13 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -16;
}

.section14 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -17;
}

.section15 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -18;
}

.section16 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -19;
}

.section17 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -20;
}

.section18 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -21;
}

.section19 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -22;
}

.section20 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -23;
}

.section21 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -24;
}


.section22 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -25;
}

/*HEADER*/

 .capa {
  margin-left: -3px;
  width: 185px;
  margin-top: 311px;
  margin-bottom: 5px;
}

.jumbotron .titulo-um {
  margin-left: 30%;
  margin-top: -522px;
  font-size: 30px;
  font-family: ComoDenso;
}

.jumbotron .texto-um {
  margin-top: -9px;
  margin-left: 30%;
  font-size: 20px;
  font-family: ComoDenso;
  color: #000;
}


/*Seção um - Sobre*/

  .container-fluid {
    margin-top: 24px;
    text-align: left;
    font-family: ComoNormal;
    margin-bottom: 167px;
    font-size: 20px;
    color: #fff;
  }

  .texto-dois {
    color: #fff;
    margin-left: 1%;
    line-height: 1;
    margin-top: 200px;
  }

  .container-fluid .texto-destaque {
    font-family: ComoBold;
    font-size: 20px;
    line-height: 1;
    margin-left: 1%;
  }

  .container-fluid .imagem-um {
    width: 35%;
    height: 70%;
    margin-left: 27%;
  }

/*BENEFICIOS*/

  .container-fluid-4 .col-sm-12 {
    background-color: #F39325;
    height: 70px;
    width: 104vw;
    color: #fff;
    margin-top: 184px;
    background-repeat: no-repeat;
    font-family: ComoBold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .titulo-bene {
    padding-top: 6px;
  }

  .lista-beneficio {
    list-style: inside;
    margin-right: 5px;
    margin-left: -24px;
    color: #fff;
    font-size: 20px;
    font-family: ComoMedio;
  }

 
/*Seção O SERAC*/
.container-fluid-2 {
  margin-bottom: -59px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: -3%;
}

.predio {
  width: 78%;
  height: 40%;
  margin-left: -25%;
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 8px;
  margin-right: 9px;
  font-size: 20px;
  margin-top: -90%;
  line-height: 1.1;
  text-align: justify;
  margin-bottom: 10%;
  color: #fff;
}

/*Jhonny*/
 
.container-fluid-4 {
  margin-top: -153px;
  margin-bottom: 2%;
}

.titulo-jhonny {
  color: #fff;
  font-size: 30px;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  font-family: comoBold;
}

.texto-jhonny {
  color: #fff;
  text-align: left;
  font-family: ComoMedio;
  font-size: 20px;
  margin-left: 4px;
  line-height: 1;
  margin-right: 1px;
}

.foto-jhonny {
  width: 50%;
  margin-left: 21%;
  margin-top: 10%;
}

.pc-jhonny {
  width: 206px;
  margin-top: 27vh;
  margin-left: 11%
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: left;
  margin-left: 7px;
  margin-right: 5px;
  line-height: 1;
  margin-top: -77vh;
}

/*SERVIÇOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  line-height: 1.1;
  font-family: ComoMedio;
  text-align: left;
  margin-left: -2%;
  margin-right: 7%;
  font-size: 20px;
  list-style: inside;
}


/*CLIENTES*/

.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 20px;
}
 .primo-pc {
  width: 154px;
  margin-left: 48%;
  margin-top: 36px;
  margin-right: -16%;
}

.primo-foto {
  width: 111px;
  margin-top: -127px;
  margin-left: 4%;
}

.texto-padrao {
  color: #fff;
  font-size: 20px;
  line-height: 1;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 30px;
  text-align: justify;
  font-family: ComoNormal;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  line-height: 1.1;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
  margin-left: 2%;
  margin-right: 2%;
}

.breno-pc {
  width: 161px;
  margin-top: 43px;
  margin-left: 4%;
}

.breno-foto  {
  width: 111px;
  margin-left: 57%;
  margin-top: -133px;
}

.g4-pc {
  width: 125px;
}

.g4-foto  {
  width: 153px;
  margin-left: -16px;
}

.joel-celular {
  width: 72px;
  margin-left: 9%;
}

.joel-foto {
  margin-left: 17%;
  width: 111px;
} 

.titulo-joel {
  margin-top: 15%;
}

.heyser-celular {
  width: 72px;
  margin-left: 9%;
}

.heyser-foto {
  margin-left: 17%;
  width: 111px;
}

.bruno-celular {
  width: 72px;
  margin-left: 9%;
}

.bruno-foto {
  margin-left: 17%;
  width: 111px;
}

.davi-celular {
  width: 72px;
  margin-left: 16%;
  margin-top: 22px;
}

.davi-foto {
  margin-left: 17%;
  width: 111px;
}

.ju-celular {
  width: 72px;
  margin-left: 16%;
  margin-top: 22px;
}

.ju-foto {
  margin-left: 17%;
  width: 111px;
}

.rob-pc {
  width: 154px;
  margin-left: 48%;
  margin-top: 36px;
  margin-right: -16%;
}

.rob-foto {
  width: 111px;
  margin-top: -127px;
  margin-left: 4%;
}

.ana-celular {
  width: 72px;
  margin-left: 16%;
  margin-top: 22px;
}

.ana-foto {
  margin-left: 17%;
  width: 111px;
}

.ivan-celular {
  width: 72px;
  margin-left: 16%;
  margin-top: 22px;
}

.ivan-foto {
  margin-left: 17%;
  width: 111px;
}


  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  /* .navbar {
    margin-bottom: 0;
    margin-top: 20px;
    background-color: transparent;
    z-index: 10;
    border: 0;
    font-size: 10px !important;
    
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  } */
  .navbar li a, .navbar .navbar-brand {
    color: black;
    padding-bottom: 0px;
    font-size: 10px !important;
    
    letter-spacing: 2px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar-nav li a:hover {
    color: #4b78b7 !important;

    
  }
  .navbar-nav li.active a {
    background-color: transparent !important;
    
    border-bottom: 5px solid #004a9a;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent; 
    background-color: transparent;
  }

  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}


.navbar-default .navbar-toggle .icon-bar {
  background-color: #6fc0ea;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 2px;
  /* color: #4b78b7; */
}

.navbar-toggle .icon-bar {
  display: block;
  width: 17px;
  height: 2px;
  border-radius: 1px;
  color: #6fc0ea;
}

  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      /* margin: 25px 0; */
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
     .logo {
      font-size: 150px;
    } 
  }
  

  /*MEDIAS QUERY*/

  @media screen and (min-width: 400px) {
    /*HEADER*/
  
     .capa {
      width: 251px;
      margin-bottom: 5px;
      margin-left: 0px;
      margin-top: 233px;
    }

    .textos-celular {
      font-family: ComoDenso;
      color: #000;
      margin-left: -26px;
      margin-right: 8px;
      margin-top: -134px;
  }
  
    .jumbotron .titulo-um {
      margin-left: 53%;
      margin-top: -495px;
      font-size: 30px;
      font-family: ComoDenso;
    }
  
    .jumbotron .texto-um {
      margin-left: 54%;
      font-family: ComoDenso;
      font-size: 20px;
      color: #000;
    }

  /*SOBRE*/
  .container-fluid {
    margin-top: 5px;
    text-align: justify;
    font-family: ComoMedio;
    font-size: 20px;
    margin-bottom: 42%;
    color: #fff;
  }

  .texto-dois {
    color: #fff;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: 218px;
  }

  .container-fluid .texto-destaque {
    font-family: ComoBold;
    font-size: 20px;
    margin-left: -1%;
    margin-right: -1%;
  }

  .container-fluid .imagem-um {
    width: 37%;
    height: 60%;
    margin-left: 35%;
  }

/*BENEFICIOS*/

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  color: #fff;
  margin-top: 192px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.titulo-bene {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.lista-beneficio {
  list-style: inside;
  text-align: justify;
  margin-right: 45px;
  margin-left: 25px;
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
}

/*O SERAC*/

.container-fluid-2 {
  margin-bottom: -49px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  margin-top: -38px;
  font-size: 30px;
}

.predio {
  width: 55%;
  height: 45%;
  margin-left: -17%;
  margin-bottom: 5%;
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: -65%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 5%;
  color: #fff;
}

/*JHONNY*/
.titulo-jhonny {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: comoBold;
}

.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-left: 28px;
  margin-right: 31px;
}

.foto-jhonny {
  width: 39%;
  margin-left: 32%;
  margin-top: 3%;
}


.pc-jhonny {
  width: 249px;
    margin-top: 335px;
    margin-left: 130px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 23px;
  margin-right: 14px;
  margin-top: -384px;
  margin-bottom: 250px;
}

/*SERVIÇOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 1%;
  margin-right: 10%;
  font-size: 20px;
  list-style: inside;
}

/*CLIENTES*/

.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 30px;
}
.primo-pc {
  width: 154px;
  margin-left: 48%;
  margin-top: 36px;
  margin-right: -16%;
}

.primo-foto {
  width: 111px;
  margin-top: -127px;
  margin-left: 15%;
}


.breno-pc {
  width: 154px;
  margin-left: 48%;
  margin-top: 36px;
  margin-right: -16%;
}

.breno-foto  {
  width: 111px;
  margin-top: -127px;
  margin-left: 15%;
}

.g4-pc {
  width: 154px;
  margin-left: 48%;
  margin-top: 36px;
  margin-right: -16%;
}

.g4-foto  {
  width: 184px;
    margin-top: -127px;
    margin-left: 3%;
}

.joel-celular {
  width: 82px;
  margin-left: 17%;
}

.joel-foto {
  margin-left: 11%;
  width: 111px;
} 

.titulo-joel {
  margin-top: 15%;
}

.heyser-celular {
  width: 82px;
  margin-left: 17%;
}

.heyser-foto {
  margin-left: 11%;
  width: 111px;
}

.bruno-celular {
  width: 82px;
  margin-left: 17%;
}

.bruno-foto {
  margin-left: 11%;
  width: 111px;
}

.davi-celular {
  width: 82px;
  margin-left: 17%;
  margin-top: 22px;
}

.davi-foto {
  margin-left: 11%;
  width: 111px;
}

.titulo-davi {
  margin-top: 45px;
}

.ju-celular {
  width: 82px;
  margin-left: 17%;
  margin-top: 22px;
}

.ju-foto {
  margin-left: 11%;
  width: 111px;
}

.rob-pc {
  width: 154px;
  margin-left: 48%;
  margin-top: 36px;
  margin-right: -16%;
}

.rob-foto {
  width: 111px;
  margin-top: -127px;
  margin-left: 15%;
}

.ana-celular {
  width: 82px;
  margin-left: 17%;
  margin-top: 22px;
}

.ana-foto {
  margin-left: 11%;
  width: 111px;
}

.ivan-celular {
  width: 82px;
  margin-left: 17%;
  margin-top: 22px;
}

.ivan-foto {
  margin-left: 11%;
  width: 111px;
}

}


  @media screen and (min-width: 500px) {
    /*HEADER*/

    .textos-celular{
    font-family: ComoDenso;
    color: #000;
    margin-left: -4px;
    margin-right: 26px;
    margin-top: -134px;
}


   .capa {
    width: 293px;
    margin-left: 0px;
    margin-top: 182px;
    
  }

  .jumbotron .titulo-um {
    margin-left: 51%;
    margin-top: -540px;
    font-size: 30px;
    font-family: ComoDenso;
  }

  .jumbotron .texto-um {
    margin-left: 51%;
    font-family: ComoDenso;
    font-size: 20px;
    color: #000;
  }


  .texto-dois {
    color: #fff;
    margin-left: 7%;
    margin-right: 9%;
    margin-top: 307px;
}

.container-fluid .texto-destaque {
  margin-left: 7%;
  margin-right: 9%;
}

.container-fluid .imagem-um {
  width: 30%;
  height: 60%;
  margin-left: 35%;
}

  /*BENEFICIOS*/

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  color: #fff;
  margin-top: 19vh;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.titulo-bene {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.lista-beneficio {
  list-style: inside;
  text-align: justify;
  margin-right: 65px;
  margin-left: 55px;
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
}



/*O SERAC*/

.container-fluid-2 {
  margin-bottom: -80px;

}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.predio {
  width: 45%;
  height: 45%;
  margin-left: -17%;
  margin-bottom: 5%;
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 44px;
  margin-right: 44px;
  margin-top: -65%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20%;
  color: #fff;
}

/*Jhonny*/

.foto-jhonny {
  width: 51%;
  margin-left: 22%;
}

.pc-jhonny {
  width: 81%;
  margin-top: 249px;
  margin-left: 101px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 30px;
  margin-right: 35px;
  margin-top: -474px;
  margin-bottom: 300px;
}


/*SERVICOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 5%;
  margin-right: 10%;
  font-size: 20px;
  list-style: inside;
}

.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 20px;
}

.primo-foto {
  width: 111px;
  margin-top: -9px;
  margin-left: -51%;
}

.breno-foto {
  width: 124px;
  margin-left: 55%;
  margin-top: -144px;
}

.breno-pc {
  width: 166px;
  margin-top: 43px;
  margin-left: 11%;
}

.texto-padrao {
  margin-right: 7%;
    margin-left: 6%;
}

  }

  @media screen and (min-width: 600px) {
    /*HEADER*/

    .textos-celular {
      font-family: ComoDenso;
      color: #000;
      margin-left: 10px;
      margin-right: 46px;
      margin-top: -110px;
  }

   .capa {
    width: 310px;
    margin-left: 0px;
    margin-top: 161px;
    
  }

  .jumbotron .titulo-um {
    margin-left: 51%;
    margin-right: 34px;
    margin-top: -472px;
    font-size: 30px;
    font-family: ComoDenso;
  }

  .jumbotron .texto-um {
    margin-left: 51%;
    font-size: 20px;
    margin-right: 34px;
    font-family: ComoDenso;
    color: #000;
  }
/*SOBRE*/
.container-fluid {
  margin-top: 5px;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-bottom: 30%;
  color: #fff;
}

.texto-dois {
  color: #fff;
  margin-top: 252px;
  margin-left: 50px;
  margin-right: 45px;
}

.container-fluid .texto-destaque {
  font-family: ComoBold;
  font-size: 20px;
  margin-left: 50px;
  margin-right: 45px;
}

.container-fluid .imagem-um {
  width: 30%;
  height: 60%;
  margin-left: 36%;
}


  /*BENEFICIOS*/

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  color: #fff;
  margin-top: 20px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.titulo-bene {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10%;
  margin-top: 18vh;
  margin-right: 10%;
}

.lista-beneficio {
  list-style: inside;
  text-align: justify;
  margin-right: 65px;
  margin-left: 55px;
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
}


/*O SERAC*/

.container-fluid-2 {
  margin-bottom: 5px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 5%;
}

.predio {
  width: 50%;
  height: 50%;
  margin-left: -17%;
  margin-bottom: 5%;
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 44px;
  margin-right: 44px;
  margin-top: -80%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20%;
  color: #fff;
}

/*JHONNY*/
.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-left: 28px;
  margin-right: 31px;
}


.foto-jhonny {
  width: 45%;
  margin-left: 29%;
}

.pc-jhonny {
  width: 71%;
  margin-top: 272px;
  margin-left: 174px;
}

.texto-jhonny-2 {
  margin-left: 46px;
  margin-right: 30px;
  margin-top: -445px;
  margin-bottom: 376px;
}

/*Clientes*/
  

.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 20px;
}

.box {
  width: 300px;
  height: 30%;
  background-color: #4b78b7;
  border-radius: 15px;
  margin-left: 25%;
  margin-bottom: 5%;
}

 .influencer-foto {
  width: 51%;
  height: 38%;
  margin-left: -142px;
}

 .primo-pc {
  width: 52%;
  margin-left: 131px;
  margin-top: -168px;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

  }

@media screen and (min-width: 700px) {
  .capa {
    width: 310px;
    
    margin-top: 161px;
    
}
.textos-celular {
  font-family: ComoDenso;
  color: #000;
  margin-left: 80px;
  margin-right: 152px;
  margin-top: -53px;
}

  /*Clientes*/
.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 20px;
}

 .primo-pc {
  width: 52%;
  margin-left: 131px;
  margin-top: -168px;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

}

  @media screen and (min-width: 768px) {
    .section4 {
      align-items: center;
      background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
      bottom: 0;
      display: flex;
      justify-content: center;
      height: 100vh;
      padding: 1rem;
      position: sticky;
      width: 100%;
      z-index: -5;
    }

    .section41 {
      display: none;
    }

    .section5 {
      display: none;
    }

    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: -87px;
      margin-top: -11px;
  }


  
     .capa {
      width: 309px;
      
      margin-top: 162px;
      
    }
  
    .jumbotron .titulo-um {
      margin-left: 51%;
      margin-top: -481px;
      margin-right: 57px;
      font-size: 30px;
      font-family: ComoDenso;
    }
  
    .jumbotron .texto-um {
      margin-left: 51%;
      margin-right: 57px;
      font-family: ComoDenso;
      font-size: 20px;
      color: #000;
    } 
    
    
    /*SOBRE*/
  .container-fluid {
    margin-top: 5px;
    text-align: justify;
    font-family: ComoMedio;
    font-size: 20px;
    margin-bottom: 24%;
    line-height: 1.1;
    color: #fff;
  }

  .texto-dois {
    color: #fff;
    margin-left: 21%;
    margin-right: -31px;
  }

  .container-fluid .texto-destaque {
    font-family: ComoBold;
    font-size: 20px;
    margin-left: 21%;
    margin-right: 5px;
  }

  .container-fluid .imagem-um {
    width: 74%;
    height: 80%;
    margin-top: 173px;
    margin-left: 2%;
  }

    /*BENEFICIOS*/

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  color: #fff;
  margin-top: 63px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.titulo-bene {
  padding-top: 0px;
  margin-top: 3vh;
  padding-bottom: 7px;
  margin-left: 10%;
  margin-right: 10%;
}

.lista-beneficio {
  list-style: inside;
  text-align: justify;
  margin-right: -13%;
  margin-left: 18%;;
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
}


/*O SERAC*/

.container-fluid-2 {
  margin-bottom: 90px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 30%;
}

.predio {
  width: 170%;
  height: 80%;
  margin-left: -70%;
  margin-bottom: 5%;
  margin-top: -27%;
}

.predio-texto {
  font-family: ComoNormal;
  margin-left: -38px;
  margin-right: 64px;
  margin-top: 5%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20%;
  color: #fff;
}

/*jhonny*/

.titulo-jhonny {
  margin-top: 36px;
}

.texto-jhonny {
  margin-left: 33px;
  margin-top: 61px;
  margin-right: 13px;
}

.foto-jhonny {
  width: 61%;
  margin-left: 5%;
  margin-top: -23px;
}

.pc-jhonny {
  width: 216%;
  margin-top: -5px;
  margin-left: -36px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 133px;
  margin-right: 14px;
  margin-top: 41px;
  margin-bottom: 6px;
}


/*SERVICOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 12%;
  margin-right: -6%;
  font-size: 20px;
  list-style: inside;
}

/*CLIENTES*/
.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 30px;
}


.primo-foto {
  width: 155px;
  margin-top: -418px;
  margin-left: 130%;
}

.primo-pc {
  width: 245px;
  margin-left: -37px;
  margin-top: 149px;
}

.texto-primo {
  margin-top: 78px;
  margin-right: 207px;
  margin-left: -248px;
}

.breno-foto {
  width: 155px;
  margin-left: 130%;
  margin-top: -418px;
}

.breno-pc {
  width: 245px;
  margin-top: 149px;
  margin-left: -37px;
}

.breno-texto {
  margin-top: 78px;
    margin-right: 207px;
    margin-left: -248px;
}

.g4-foto {
  width: 271px;
  margin-left: 108%;
  margin-top: -565px;
}

.g4-pc {
  width: 245px;
  margin-left: -37px;
  margin-top: 160px;
}

.g4-texto {
  margin-top: 114px;
  margin-right: 207px;
  margin-left: -248px;
}

.joel-texto {
margin-top: 56px;
    margin-right: 207px;
    margin-left: -284px;
}

.joel-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.joel-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
  }

.heyser-texto {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}
.heyser-foto {
  margin-top: -401px;
  margin-left: 130%;
  width: 155px;
}
.heyser-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.bruno-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.bruno-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.texto-bruno {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}

.texto-davi {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}

.davi-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.davi-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.ju-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.ju-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.texto-ju {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}

.rob-foto {
  width: 155px;
  margin-left: 130%;
  margin-top: -418px;
}

.rob-pc {
  width: 245px;
  margin-top: 149px;
  margin-left: -37px;
}

.texto-rob {
  margin-top: 78px;
    margin-right: 207px;
    margin-left: -248px;
}

.ana-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.ana-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.texto-ana {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}


.ivan-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.ivan-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.texto-ivan {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}

}



  @media screen and (min-width: 800px) {
    .logo-navbar {
      margin-top: 0px;
      margin-left: 33px;
  }

    /*HEADER*/
  
     .capa {
      width: 309px;
      margin-left: -12px;
      margin-top: 172px;
      margin-bottom: 5%;
    }
  
    .jumbotron .titulo-um {
      margin-left: 51%;
      margin-right: 57px;
      font-size: 30px;
      font-family: ComoDenso;
    }
  
    .jumbotron .texto-um {
      margin-left: 51%;
      margin-right: 57px;
      font-size: 20px;
      font-family: ComoDenso;
      color: #000;
    } 
    

  .predio {
    width: 140%;
    height: 80%;
    margin-left: -60%;
    margin-bottom: 5%;
  }
  
  .predio-texto {
    font-family: ComoMedio;
    margin-left: -116px;
    margin-right: 71px;
    margin-top: 5%;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20%;
    color: #fff;
  }

/*jhonny*/

.titulo-jhonny {
  margin-top: 19px;
}

.texto-jhonny {
  margin-top: 25px;
  margin-left: 59px;
  margin-right: -10px;
}

.foto-jhonny {
  width: 48%;
  margin-left: 15%;
  margin-top: -40px;
}

.pc-jhonny {
  width: 162%;
  margin-top: -6px;
  margin-left: 31px;
}

.texto-jhonny-2 {
  margin-left: 133px;
  margin-right: 44px;
  margin-top: 15px;
  margin-bottom: 6px; }

  /*CLIENTES*/

  .texto-primo {
    margin-top: -227px;
    margin-right: -123px;
    margin-left: 173px;
  }

  .primo-foto {
    width: 169px;
    margin-left: 102px;
    margin-top: -157px;
}

.primo-pc {
  width: 55%;
  margin-left: -51px;
  margin-top: 8px;
}

  }

  @media screen and (min-width: 900px) {
    .capa {
      width: 309px;
      margin-left: 22px;
      margin-top: 174px;
      margin-bottom: 5%;
  }
  
  .container-fluid .imagem-um {
    width: 60%;
    height: 80%;
    margin-top: 225px;
    margin-left: 6%;
}

.texto-dois {
  color: #fff;
  margin-left: 26%;
  margin-top: 60%;
  margin-right: -31px;
}

.container-fluid .texto-destaque {
  margin-left: 26%;
}


  }

  @media screen and (min-width: 1000px) {
    .barradenavegacao {
      margin-left: -10px;
      margin-right: -10px;
    }
    
    .container-fluid .imagem-um {
      width: 49%;
    height: 80%;
    margin-top: 250px;
    margin-left: 20%;
  }

  .container-fluid {
    margin-top: 5px;
    text-align: justify;
    font-family: ComoMedio;
    font-size: 20px;
    margin-bottom: 16%;
    line-height: 1.1;
    color: #fff;
}

  .texto-dois {
    color: #fff;
    margin-left: 25%;
    margin-top: 243px;
    margin-right: -60px;
}

.container-fluid .texto-destaque {
  font-family: ComoBold;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 5px;
}

.container-fluid-4 .col-sm-12 {
  width: 100vw;
  margin-top: 57px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 39%;
}

.predio {
  width: 140%;
  height: 80%;
  margin-top: -164px;
  margin-left: -60%;
  margin-bottom: 5%;
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: -89px;
  margin-right: 162px;
  margin-top: 5%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20%;
  color: #fff;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 25%;
}


/*Clientes*/
.breno-pc {
  width: 324px;
  margin-top: 49px;
  margin-left: -4px;
}

.breno-foto {
  width: 155px;
  margin-left: 130%;
  margin-top: -398px;
}

.breno-texto {
  margin-top: 55px;
  margin-right: 292px;
  margin-left: -278px;
}

.texto-ana {
  margin-top: 57px;
  margin-right: 317px;
  margin-left: -330px;
}

.ana-foto {
  width: 174px;
  margin-top: -401px;
  margin-left: 123%;
}
.ana-celular {
  width: 163px;
  margin-left: 82px;
  margin-top: -23px;
}

.primo-foto {
  width: 155px;
  margin-left: 130%;
  margin-top: -398px;
}

.primo-pc {
  width: 324px;
  margin-top: 49px;
  margin-left: -4px;
}

.texto-primo {
  margin-top: 55px;
  margin-right: 292px;
  margin-left: -278px;
}

.g4-foto {
  width: 271px;
  margin-left: 108%;
  margin-top: -565px;
}

.g4-pc {
  width: 245px;
  margin-left: -37px;
  margin-top: 160px;
}

.g4-texto {
  margin-top: 114px;
  margin-right: 207px;
  margin-left: -248px;
}

.joel-texto {
  margin-top: 57px;
  margin-right: 317px;
  margin-left: -330px;
}

.joel-celular {
  width: 163px;
  margin-left: 82px;
  margin-top: -23px;
}

.joel-foto {
  width: 174px;
  margin-top: -401px;
  margin-left: 123%;
  }

.heyser-texto {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}
.heyser-foto {
  margin-top: -401px;
  margin-left: 130%;
  width: 155px;
}
.heyser-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.bruno-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.bruno-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.texto-bruno {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}

.texto-davi {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}

.davi-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.davi-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.ju-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.ju-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.texto-ju {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}

.rob-foto {
  width: 155px;
  margin-left: 130%;
  margin-top: -418px;
}

.rob-pc {
  width: 245px;
  margin-top: 149px;
  margin-left: -37px;
}

.texto-rob {
  margin-top: 78px;
    margin-right: 207px;
    margin-left: -248px;
}

.ivan-celular {
  width: 148px;
  margin-left: 16px;
  margin-top: -3px;
}

.ivan-foto {
  width: 155px;
  margin-top: -401px;
  margin-left: 130%;
}

.texto-ivan {
  margin-top: 56px;
  margin-right: 207px;
  margin-left: -284px;
}


  }


  @media screen and (min-width: 1020px) {
    /*HEADER*/
  
     .capa {
      width: 334px;
      margin-left: -120px;
      margin-top: 126px;
      margin-bottom: -1%;
    }
  
    .jumbotron .titulo-um {
      margin-left: 51%;
      margin-top: -443px;
      margin-right: 57px;
      font-size: 30px;
      font-family: ComoDenso
    }
  
    .jumbotron .texto-um {
      margin-left: 51%;
      margin-right: 57px;
      font-size: 20px;
      font-family: ComoDenso;
      color: #000;
    } 
    

/*sobre*/

  .container-fluid {
    margin-top: 5px;
    text-align: justify;
    font-family: ComoMedio;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
  }

  .texto-dois {
    color: #fff;
    margin-left: 28%;
    margin-right: -18px;
    margin-top: 51%;
  }

  .container-fluid .texto-destaque {
    font-family: ComoBold;
    font-size: 20px;
    margin-left: 28%;
    margin-right: 5px;
  }

  .container-fluid .imagem-um {
    width: 58%;
    height: 80%;
    margin-left: 7%;
}
  
  /*o serac*/

  .predio {
    width: 100%;
    height: 50%;
    margin-left: -30%;
    margin-bottom: 5%;
  }
  
  .predio-texto {
    font-family: ComoMedio;
    margin-left: -116px;
    margin-right: 15%;
    margin-top: 5%;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20%;
    color: #fff;
  }

  .lista-beneficio {
    list-style: inside;
    text-align: justify;
    margin-right: -13%;
    margin-left: 29%;
    color: #fff;
    font-size: 20px;
    font-family: ComoMedio;
}

/*jhonny*/

.titulo-jhonny {
  margin-top: 60px;
}

.texto-jhonny {
  margin-top: 15%;
  margin-left: 147px;
  margin-right: -19px;
}


.foto-jhonny {
  width: 33%;
  margin-left: 5%;
  margin-top: -17px;
}

.pc-jhonny {
  width: 110%;
  margin-top: 26px;
  margin-left: -13px;
}

.texto-jhonny-2 {
  margin-left: 133px;
  margin-right: 23%;
  margin-top: 41px;
  margin-bottom: 6px; }

  /*SERVICOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  text-align: justify;
  margin-left: 29%;
  margin-right: 11%;
  font-size: 20px;
  list-style: inside;
}

/*Clientes*/
.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 30px;
}

 .primo-pc {
  width: 52%;
  margin-left: 131px;
  margin-top: -168px;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}


.breno-pc {
  width: 324px;
  margin-top: 49px;
  margin-left: -4px;
}

.breno-foto {
  width: 155px;
  margin-left: 130%;
  margin-top: -398px;
}

.breno-texto {
  margin-top: 55px;
  margin-right: 292px;
  margin-left: -278px;
}

.texto-ana {
  margin-top: 57px;
  margin-right: 317px;
  margin-left: -330px;
}

.ana-foto {
  width: 174px;
  margin-top: -401px;
  margin-left: 123%;
}
.ana-celular {
  width: 163px;
  margin-left: 82px;
  margin-top: -23px;
}


  }


  @media screen and (min-width: 1100px) {
    .capa {
    width: 332px;
    margin-left: -38%;
    margin-top: 128px;
    margin-bottom: -1%;
  }
  }

  @media screen and (min-width:1200px) {
    .capa {
      width: 332px;
      margin-left: 23%;
      margin-top: 128px;
      margin-bottom: -1%;
  }

  .textos-celular {
    font-family: ComoDenso;
    color: #000;
    margin-left: 255px;
    margin-right: 313px;
    margin-top: -53px;
}


.texto-dois {
  color: #fff;
  margin-left: 26%;
  margin-right: 5px;
  margin-top: 43%;
}

.container-fluid .texto-destaque {
  font-family: ComoBold;
  font-size: 20px;
  margin-left: 26%;
  margin-right: 5px;
}

.predio-texto {
  margin-left: 10%;
  margin-right: 42%;
}

.predio {
  width: 163%;
  height: 50%;
  margin-left: 47%;
  margin-bottom: 9%;
}

.container-fluid .imagem-um {
  width: 53%;
  height: 80%;
  margin-top: 216px;
  margin-left: 2%;
}

.texto-jhonny {
  margin-top: 8%;
  margin-left: 34%;
  margin-right: -19px;
}

.foto-jhonny {
  width: 33%;
  margin-left: 5%;
  margin-top: -17px;
}

.pc-jhonny {
  width: 110%;
  margin-top: 26px;
  margin-left: 41%;
}

.texto-jhonny-2 {
  margin-left: 133px;
  margin-right: 23%;
  margin-top: 41px;
  margin-bottom: 6px;
}
.texto-primo {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.primo-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.primo-pc {
  width: 45%;
  margin-left: 107px;
  margin-top: 134px;
}

.breno-texto {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.breno-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.breno-pc {
  width: 45%;
  margin-left: 107px;
  margin-top: 134px;
}


.g4-texto {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.g4-foto {
  width: 280px;
  margin-left: 122%;
  margin-top: -495px;
}

.g4-pc {
  width: 45%;
  margin-left: 107px;
  margin-top: 134px;
}


.joel-texto {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.joel-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.joel-celular {
  width: 27%;
  margin-left: 224px;
  margin-top: -9px;
}

.titulo-joel {
  margin-top: 48px;
}

.heyser-texto {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.heyser-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.heyser-celular {
  width: 27%;
  margin-left: 224px;
  margin-top: -9px;
}

.texto-bruno {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.bruno-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.bruno-celular {
  width: 27%;
  margin-left: 224px;
  margin-top: -9px;
}

.texto-davi {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.davi-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.davi-celular {
  width: 27%;
  margin-left: 224px;
  margin-top: -9px;
}

.texto-ju {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.ju-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.ju-celular {
  width: 27%;
  margin-left: 224px;
  margin-top: -9px;
}


.texto-rob {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.rob-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.rob-pc {
  width: 45%;
  margin-left: 107px;
  margin-top: 134px;
}

.texto-ana {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.ana-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.ana-celular {
  width: 27%;
  margin-left: 224px;
  margin-top: -9px;
}

.texto-ivan {
  margin-top: 79px;
  margin-left: -65%;
  margin-right: 77%;
}

.ivan-foto {
  width: 169px;
  margin-left: 122%;
  margin-top: -495px;
}

.ivan-celular {
  width: 27%;
  margin-left: 224px;
  margin-top: -9px;
}

}

@media screen and (min-width:1300px) {
  }

 @media screen and (min-width: 1500px) {
    /*HEADER*/
  
    .capa {
      width: 521px;
      margin-left: 22%;
      margin-top: 152px;
      margin-bottom: 70%;
    }
  
    .jumbotron .titulo-um {
      margin-left: 51%;
      margin-top: 6%;
      margin-right: 180px;
      font-size: 30px;
      font-family: ComoDenso;
    }
  
    .jumbotron .texto-um {
      margin-left: 51%;
      margin-right: 180px;
      font-family: ComoDenso;
      font-size: 20px;
      color: #000;
    } 

/*sobre*/

.container-fluid {
  margin-top: -90px;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-bottom: -10%;
  line-height: 1.3;
  color: #fff;
}

.texto-dois {
  color: #fff;
  margin-left: 31%;
  margin-right: 4px;
  margin-top: 7%;
}

.container-fluid .texto-destaque {
  font-family: ComoBold;
  font-size: 20px;
  margin-left: 31%;
  margin-right: 5px;
}

.container-fluid .imagem-um {
  width: 68%;
  height: 68%;
  margin-left: 2%;
}

/*BENEFICIOS*/

.container-fluid-4 {
  margin-top: 38px;
  margin-bottom: 2%;
}

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  width: 160%;
  color: #fff;
  margin-top: 20px;
  margin-left: -282px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}
    
    .titulo-bene {
      padding-top: 15px;
      padding-bottom: 12px;
      margin-left: 10%;
      margin-right: 10%;
    }
    
    .lista-beneficio {
      list-style: inside;
      text-align: justify;
      margin-right: -13%;
      margin-left: 18%;;
      color: #fff;
      font-size: 20px;
      font-family: ComoMedio;
    }
  
    
    /*O SERAC*/
    
    .container-fluid-2 {
      margin-bottom: -58px;
    }
    
    .titulo-predio {
      font-family: ComoBold;
      text-align: center;
      color: #fff;
      font-size: 30px;
      margin-top: 10%;
    }
  
.predio {
  width: 96%;
  height: 90%;
  margin-left: 40%;
  margin-bottom: 52%;
  margin-top: -85px;
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 0%;
  margin-right: 30%;
  margin-top: 5%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 10%;
  color: #fff;
}

/*jhonny*/

.titulo-jhonny {
  font-size: 30px;
  margin-top: 4%;
}

.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  margin-top: 8%;
  font-size: 20px;
  margin-left: 217px;
  margin-right: 31px;
}


.foto-jhonny {
  width: 39%;
  margin-left: 5%;
  margin-top: -27px;
}

.pc-jhonny {
  width: 130%;
  margin-top: -3px;
  margin-left: 82px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 133px;
  margin-right:30%;
  margin-top: 41px;
  margin-bottom: 6px; }

 /*SERVICOS*/

 .titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 32%;
  margin-right: 7%;
  font-size: 20px;
  list-style: inside;
}
}


@media screen and (min-height: 625px) {
  .capa {
    margin-top: 42vh;
  }
}

 
.navbar-default {
  padding-right: 8px;
  background-color: transparent;
}
.navbar .navbar-toggle {
  border: none;
}
.navbar .navbar-toggle:hover, .navbar .navbar-toggle:focus {
  background: #f5f5f5;
}
.navbar-header .navbar-toggle .icon-bar {
  background: #444;
}
.navbar-header .navbar-toggle .icon-bar:hover {
  background: #444;
}
.side-collapse-container {
  padding-right: 15px;
  padding-left: 15px;
  

}


@media screen and (max-width: 768px) {
  .side-collapse {
      top: 50px;
      bottom: 0;
      right: 0;
      width: 100vw;
      position: fixed;
      background-color: white;
      
      transition: all 0.6s cubic-bezier(.87, -.41, .19, 1.44);
  }
  .side-collapse.in {
      width: 0;
  }
  .navbar-nav li.dropdown {
      padding-right: 0;
  }
  .navbar-default {
      padding-right: 0;
  }
  .navbar .navbar-default {
      border-right: 1px solid #ddd;
  }
}