html
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}  

body
{
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
  background-repeat: no-repeat;
  background-size: cover;
  
}  



 @font-face {
   font-family: ComoNormal;
   src: url(../fontes/ComoNormal.otf);
 }

 @font-face {
  font-family: ComoMedio;
  src: url(../fontes/ComoMédio.otf);
}

@font-face {
  font-family: ComoBold;
  src: url(../fontes/ComoBold.otf);
}

@font-face {
  font-family: ComoDenso;
  src: url(../fontes/ComoDenso.otf)
}

.logo-navbar {
  margin-top: -10px;
}


.textos-celular {
  font-family: ComoDenso;
  color: #000;
  margin-left: -68px;
  margin-top: -144px;
}

.titulo-um {
  font-size: 30px;
}

.texto-um {
  font-size: 20px;
}

/*Efeito Scroll*/
.section {
  align-items: center;
  background: url('../images/Paralaxe\ Mão\ Smartphone\ AS_218001175.png') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
  z-index: -1;
}

.section1 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center/ cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -2;
}

.section2 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -3;
}

.section3 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -4;
}

.section4 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -5;
}

.section5 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -6;
}

.section6 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -7;
}

.section7 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -8;
}

.section8 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -9;
}

.section9 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -10;
}

.section10 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -11;
}

.section11 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -12;
}

.section12 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -13;
}

.section13 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -14;
}

.section14 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -15;
}

.section15 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -16;
}

.section16 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -17;
}

.section17 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -18;
}

.section18 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -19;
}

.section19 {
  align-items: center;
  background: url('../images/BackgroundSVG.svg') no-repeat center / cover;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding: 1rem;
  position: sticky;
  width: 100%;
	z-index: -20;
}

  /*HEADER*/

 .capa {
  margin-left: -3px;
  width: 185px;
  margin-top: 311px;
  margin-bottom: 5px;
}

.jumbotron .titulo-um {
  margin-left: 30%;
  margin-top: -522px;
  font-size: 30px;
  font-family: ComoDenso;
}

.jumbotron .texto-um {
  margin-top: -9px;
  margin-left: 30%;
  font-size: 20px;
  font-family: ComoDenso;
  color: #000;
}


  /*Seção um - Sobre*/

  .container-fluid {
    margin-top: 24px;
    text-align: justify;
    font-family: ComoNormal;
    margin-bottom: 167px;
    font-size: 20px;
    color: #fff;
  }

  .texto-dois {
    color: #fff;
    margin-left: 1%;
    line-height: 1;
    margin-top: 200px;
  }

  .container-fluid .texto-destaque {
    font-family: ComoBold;
    font-size: 20px;
    line-height: 1;
    margin-left: 1%;
  }

  .container-fluid .imagem-um {
    width: 35%;
    height: 70%;
    margin-left: 27%;
  }

/*BENEFICIOS*/

  .container-fluid-4 .col-sm-12 {
    background-color: #F39325;
    height: 80px;
    color: #fff;
    margin-top: 184px;
    background-repeat: no-repeat;
    font-family: ComoBold;
    text-align: center;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .titulo-bene {
    padding-top: 15px;
  }

  .lista-beneficio {
    list-style: inside;
    margin-right: 5px;
    margin-left: -24px;
    color: #fff;
    font-size: 20px;
    font-family: ComoMedio;
  }

 
/*Seção O SERAC*/
.container-fluid-2 {
  margin-bottom: -59px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.predio {
  width: 66%;
  height: 40%;
  margin-left: -25%;
  opacity: 0.5;
  
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 8px;
  margin-right: 9px;
  font-size: 20px;
  margin-top: -90%;
  line-height: 1;
  text-align: justify;
  margin-bottom: 10%;
  color: #fff;
}

/*Jhonny*/
 
.container-fluid-4 {
  margin-top: -153px;
  margin-bottom: 2%;
}

.titulo-jhonny {
  color: #fff;
  margin-top: 242px;
  text-align: center;
  text-transform: uppercase;
  font-family: comoBold;
}

.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-left: 4px;
  line-height: 1;
  margin-right: 8px;
}

.foto-jhonny {
  width: 28%;
  margin-left: 10%;
  margin-top: -10px;
}

.pc-jhonny {
  width: 44%;
  margin-top: -39%;
  margin-left: 51%;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 7px;
  margin-right: 5px;
  line-height: 1;
  margin-top: -24px;
  margin-bottom: 190px;
}

/*SERVIÇOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: -2%;
  margin-right: 7%;
  font-size: 20px;
  list-style: inside;
}


/*CLIENTES*/

.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 20px;
}

.box {
  width: 300px;
  height: 100%;
  background-color: #4b78b7;
  border-radius: 15px;
  margin-left: 10%;
}

 .influencer-foto {
  width: 50%;
  height: 40%;
  margin-left: -140px;
}

.influencer-foto-1 {
  width: 63%;
  margin-top: 16px;
  margin-left: -141px;
}

.influencer-foto-2 {
  width: 50%;
  height: 40%;
  margin-left: 1px;
}


.influencer-foto-3 {
  width: 50%;
  height: 40%;
  margin-left: -137px;
}


 .primo-pc {
  width: 119px;
  margin-left: 132px;
  margin-top: 253px 

}

.primo-foto {
  width: 104px;
  margin-top: -529px;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

.breno-pc {
  width: 50px;
}

.breno-foto  {
  width: 80px;
}

.g4-pc {
  width: 50px;
}

.g4-foto  {
  width: 80px;
}

.joel-celular {
  width: 80px;
}

.joel-foto {
  width: 90px;
} 

.heyser-celular {
  width: 90px;
}

.heyser-foto {
  width: 90px;
}

.bruno-celular {
  width: 90px;
}

.bruno-foto {
  width: 90px;
}

.davi-celular {
  width: 90px;
}

.davi-foto {
  width: 90px;
}

.ju-celular {
  width: 90px;
}

.ju-foto {
  width: 90px;
}

.rob-pc {
  width: 90px;
}

.rob-foto {
  width: 90px;
}

.ana-celular {
  width: 90px;
}

.ana-foto {
  width: 90px;
}

.ivan-celular {
  width: 90px;
}

.ivan-foto {
  width: 90px;
}

  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #f4511e; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
  .panel-heading {
    color: #fff !important;
    background-color: #f4511e !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .panel-footer {
    background-color: white !important;
  }
  .panel-footer h3 {
    font-size: 32px;
  }
  .panel-footer h4 {
    color: #aaa;
    font-size: 14px;
  }
  .panel-footer .btn {
    margin: 15px 0;
    background-color: #f4511e;
    color: #fff;
  }
  .navbar {
    margin-bottom: 0;
    background-color: #F39325;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: transparent !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      /* margin: 25px 0; */
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
  }
  

  /*MEDIAS QUERY*/

  @media screen and (min-width: 400px) {
    /*HEADER*/
  
     .capa {
      width: 251px;
      margin-bottom: 5px;
      margin-left: 0px;
      margin-top: 233px;
    }

    .textos-celular {
      font-family: ComoDenso;
      color: #000;
      margin-left: -26px;
      margin-right: 8px;
      margin-top: -134px;
  }
  
    .jumbotron .titulo-um {
      margin-left: 53%;
      margin-top: -495px;
      font-size: 30px;
      font-family: ComoDenso;
    }
  
    .jumbotron .texto-um {
      margin-left: 54%;
      font-family: ComoDenso;
      font-size: 20px;
      color: #000;
    }

  /*SOBRE*/
  .container-fluid {
    margin-top: 5px;
    text-align: justify;
    font-family: ComoMedio;
    font-size: 20px;
    margin-bottom: 42%;
    color: #fff;
  }

  .texto-dois {
    color: #fff;
    margin-left: -1%;
    margin-right: -1%;
    margin-top: 218px;
  }

  .container-fluid .texto-destaque {
    font-family: ComoBold;
    font-size: 20px;
    margin-left: -1%;
    margin-right: -1%;
  }

  .container-fluid .imagem-um {
    width: 37%;
    height: 60%;
    margin-left: 35%;
  }

/*BENEFICIOS*/

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  color: #fff;
  margin-top: 192px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.titulo-bene {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.lista-beneficio {
  list-style: inside;
  text-align: justify;
  margin-right: 45px;
  margin-left: 25px;
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
}



/*O SERAC*/

.container-fluid-2 {
  margin-bottom: -49px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  margin-top: -38px;
  font-size: 30px;
}

.predio {
  width: 45%;
  height: 45%;
  margin-left: -17%;
  opacity: 0.5;
  margin-bottom: 5%;
  
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 22px;
  margin-right: 22px;
  margin-top: -65%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 5%;
  color: #fff;
}

/*JHONNY*/
.titulo-jhonny {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: comoBold;
}

.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-left: 28px;
  margin-right: 31px;
}

.foto-jhonny {
  width: 58%;
  margin-left: 20%;
}

.pc-jhonny {
  width: 81%;
  margin-top: 270px;
  margin-left: 130px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 23px;
  margin-right: 14px;
  margin-top: -478px;
  margin-bottom: 250px;
}


/*SERVIÇOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 1%;
  margin-right: 10%;
  font-size: 20px;
  list-style: inside;
}


/*CLIENTES*/

.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 30px;
}

.box {
  width: 300px;
  height: 100%;
  background-color: #4b78b7;
  border-radius: 15px;
  align-items: center;
  margin-left: 20%;
}



.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  align-items: center;
  border-radius: 0;
  background-color: #4b78b7;
}


.thumbnail .primo-foto {
  width: 45%;
  height: 45%;
  margin-left: -10px;
}

.thumbnail .primo-pc {
  width: 51%;
  height: 51%;
  margin-left: 132px;
  margin-top: -114px; 

}

.texto-primo {
  margin-top: 25px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

.thumbnail .perini-celular {
  width: 30%;
  height: 30%;
  margin-left: 163px;
  margin-top: -139px;
}

  }


  @media screen and (min-width: 500px) {
    /*HEADER*/

    .textos-celular{
    font-family: ComoDenso;
    color: #000;
    margin-left: -4px;
    margin-right: 26px;
    margin-top: -134px;
}


   .capa {
    width: 293px;
    margin-left: 0px;
    margin-top: 182px;
    
  }

  .jumbotron .titulo-um {
    margin-left: 51%;
    margin-top: -540px;
    font-size: 30px;
    font-family: ComoDenso;
  }

  .jumbotron .texto-um {
    margin-left: 51%;
    font-family: ComoDenso;
    font-size: 20px;
    color: #000;
  }


  .texto-dois {
    color: #fff;
    margin-left: 7%;
    margin-right: 9%;
    margin-top: 307px;
}

.container-fluid .texto-destaque {
  margin-left: 7%;
  margin-right: 9%;
}

.container-fluid .imagem-um {
  width: 30%;
  height: 60%;
  margin-left: 35%;
}

  /*BENEFICIOS*/

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  color: #fff;
  margin-top: 20px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.titulo-bene {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.lista-beneficio {
  list-style: inside;
  text-align: justify;
  margin-right: 65px;
  margin-left: 55px;
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
}



/*O SERAC*/

.container-fluid-2 {
  margin-bottom: -80px;

}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.predio {
  width: 45%;
  height: 45%;
  margin-left: -17%;
  opacity: 0.5;
  margin-bottom: 5%;
  
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 44px;
  margin-right: 44px;
  margin-top: -65%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20%;
  color: #fff;
}

/*Jhonny*/

.foto-jhonny {
  width: 58%;
  margin-left: 20%;
}

.pc-jhonny {
  width: 81%;
  margin-top: 220px;
  margin-left: 130px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 23px;
  margin-right: 14px;
  margin-top: -488px;
  margin-bottom: 300px;
}


/*SERVICOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 5%;
  margin-right: 10%;
  font-size: 30px;
  list-style: inside;
}

.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 20px;
}

.box {
  width: 300px;
  height: 100%;
  background-color: #4b78b7;
  border-radius: 15px;
  align-items: center;
  margin-left: 25%;
}



.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  align-items: center;
  border-radius: 0;
  background-color: #4b78b7;
}


.thumbnail .primo-foto {
  width: 45%;
  height: 45%;
  margin-left: -10px;
}

.thumbnail .primo-pc {
  width: 51%;
  height: 51%;
  margin-left: 132px;
  margin-top: -114px; 

}

.texto-primo {
  margin-top: 25px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

.thumbnail .perini-celular {
  width: 30%;
  height: 30%;
  margin-left: 163px;
  margin-top: -139px;
}


  }

  @media screen and (min-width: 600px) {
    /*HEADER*/

    .textos-celular {
      font-family: ComoDenso;
      color: #000;
      margin-left: 10px;
      margin-right: 46px;
      margin-top: -110px;
  }

   .capa {
    width: 310px;
    margin-left: 0px;
    margin-top: 161px;
    
  }

  .jumbotron .titulo-um {
    margin-left: 51%;
    margin-right: 34px;
    margin-top: -472px;
    font-size: 30px;
    font-family: ComoDenso;
  }

  .jumbotron .texto-um {
    margin-left: 51%;
    font-size: 20px;
    margin-right: 34px;
    font-family: ComoDenso;
    color: #000;
  }
/*SOBRE*/
.container-fluid {
  margin-top: 5px;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-bottom: 30%;
  color: #fff;
}

.texto-dois {
  color: #fff;
  margin-top: 222px;
  margin-left: 22px;
  margin-right: 22px;

}

.container-fluid .texto-destaque {
  font-family: ComoBold;
  font-size: 20px;
  margin-left: 22px;
  margin-right: 22px;
}

.container-fluid .imagem-um {
  width: 30%;
  height: 60%;
  margin-left: 36%;
}


  /*BENEFICIOS*/

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  color: #fff;
  margin-top: 20px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.titulo-bene {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10%;
  margin-right: 10%;
}

.lista-beneficio {
  list-style: inside;
  text-align: justify;
  margin-right: 65px;
  margin-left: 55px;
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
}


/*O SERAC*/

.container-fluid-2 {
  margin-bottom: 5px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 5%;
}

.predio {
  width: 50%;
  height: 50%;
  margin-left: -17%;
  opacity: 0.5;
  margin-bottom: 5%;
  
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 44px;
  margin-right: 44px;
  margin-top: -80%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20%;
  color: #fff;
}

/*JHONNY*/
.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-left: 28px;
  margin-right: 31px;
}


.foto-jhonny {
  width: 58%;
  margin-left: 20%;
}

.pc-jhonny {
  width: 81%;
  margin-top: 384px;
  margin-left: 174px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 23px;
  margin-right: 14px;
  margin-top: -692px;
  margin-bottom: 376px;
}

/*Clientes*/
  

.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 20px;
}

.box {
  width: 300px;
  height: 30%;
  background-color: #4b78b7;
  border-radius: 15px;
  margin-left: 25%;
  margin-bottom: 5%;
}

 .influencer-foto {
  width: 51%;
  height: 38%;
  margin-left: -142px;
}

 .primo-pc {
  width: 52%;
  height: 26%;
  margin-left: 131px;
  margin-top: -168px;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

  }

@media screen and (min-width: 700px) {
  .capa {
    width: 310px;
    
    margin-top: 161px;
    
}
.textos-celular {
  font-family: ComoDenso;
  color: #000;
  margin-left: 80px;
  margin-right: 152px;
  margin-top: -53px;
}

  /*Clientes*/
.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 20px;
}

 .primo-pc {
  width: 52%;
  height: 20%;
  margin-left: 131px;
  margin-top: -168px;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

}

  @media screen and (min-width: 768px) {
    .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: -87px;
      margin-top: -11px;
  }


  
     .capa {
      width: 309px;
      
      margin-top: 162px;
      
    }
  
    .jumbotron .titulo-um {
      margin-left: 51%;
      margin-top: -481px;
      margin-right: 57px;
      font-size: 30px;
      font-family: ComoDenso;
    }
  
    .jumbotron .texto-um {
      margin-left: 51%;
      margin-right: 57px;
      font-family: ComoDenso;
      font-size: 20px;
      color: #000;
    } 
    
    
    /*SOBRE*/
  .container-fluid {
    margin-top: 5px;
    text-align: justify;
    font-family: ComoMedio;
    font-size: 20px;
    margin-bottom: 24%;
    line-height: 1;
    color: #fff;
  }

  .texto-dois {
    color: #fff;
    margin-left: 21%;
    margin-right: -31px;
  }

  .container-fluid .texto-destaque {
    font-family: ComoBold;
    font-size: 20px;
    margin-left: 21%;
    margin-right: 5px;
  }

  .container-fluid .imagem-um {
    width: 74%;
    height: 80%;
    margin-top: 173px;
    margin-left: 2%;
  }

    /*BENEFICIOS*/

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  color: #fff;
  margin-top: 20px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}

.titulo-bene {
  padding-top: 15px;
  padding-bottom: 12px;
  margin-left: 10%;
  margin-right: 10%;
}

.lista-beneficio {
  list-style: inside;
  text-align: justify;
  margin-right: -13%;
  margin-left: 18%;;
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
}


/*O SERAC*/

.container-fluid-2 {
  margin-bottom: 90px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 5%;
}

.predio {
  width: 170%;
  height: 80%;
  margin-left: -70%;
  opacity: 0.5;
  margin-bottom: 5%;
  
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: -116px;
  margin-right: 71px;
  margin-top: 5%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20%;
  color: #fff;
}

/*jhonny*/

.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-left: 28px;
  margin-right: 31px;
}


.foto-jhonny {
  width: 76%;
  margin-left: 5%;
  margin-top: -17px;
}

.pc-jhonny {
  width: 247%;
  margin-top: 167px;
  margin-left: -39px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 133px;
  margin-right: 14px;
  margin-top: 41px;
  margin-bottom: 6px;
}


/*SERVICOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 6%;
  margin-right: -25%;
  font-size: 20px;
  list-style: inside;
}

/*CLIENTES*/
.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 30px;
}


 .primo-pc {
  width: 52%;
  height: 20%;
  margin-left: 131px;
  margin-top: -168px;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

  }

  @media screen and (min-width: 800px) {
    .logo-navbar {
      margin-top: 0px;
      margin-left: 33px;
  }

    /*HEADER*/
  
     .capa {
      width: 309px;
      margin-left: -12px;
      margin-top: 172px;
      margin-bottom: 5%;
    }
  
    .jumbotron .titulo-um {
      margin-left: 51%;
      margin-right: 57px;
      font-size: 30px;
      font-family: ComoDenso;
    }
  
    .jumbotron .texto-um {
      margin-left: 51%;
      margin-right: 57px;
      font-size: 20px;
      font-family: ComoDenso;
      color: #000;
    } 
    

  .predio {
    width: 140%;
    height: 80%;
    margin-left: -60%;
    opacity: 0.5;
    margin-bottom: 5%;
    
  }
  
  .predio-texto {
    font-family: ComoMedio;
    margin-left: -116px;
    margin-right: 71px;
    margin-top: 5%;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20%;
    color: #fff;
  }

/*jhonny*/

.titulo-jhonny {
  margin-top: 56px;
}

.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  margin-top: 72px;
  font-size: 20px;
  margin-left: 176px;
  margin-right: 31px;
}

.texto-jhonny {
  margin-top: 25px;
}

.foto-jhonny {
  width: 39%;
  margin-left: 5%;
  margin-top: 8px;
}

.pc-jhonny {
  width: 162%;
  margin-top: -6px;
  margin-left: 31px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 133px;
  margin-right: 14px;
  margin-top: 41px;
  margin-bottom: 6px; }

  }

  @media screen and (min-width: 900px) {
    .capa {
      width: 309px;
      margin-left: 22px;
      margin-top: 174px;
      margin-bottom: 5%;
  }
  
  .container-fluid .imagem-um {
    width: 60%;
    height: 80%;
    margin-top: 225px;
    margin-left: 6%;
}

.texto-dois {
  color: #fff;
  margin-left: 26%;
  margin-top: 60%;
  margin-right: -31px;
}

.container-fluid .texto-destaque {
  margin-left: 26%;
}


  }

  @media screen and (min-width: 1000px) {
    .container-fluid .imagem-um {
      width: 49%;
    height: 80%;
    margin-top: 250px;
    margin-left: 20%;
  }

  .container-fluid {
    margin-top: 5px;
    text-align: justify;
    font-family: ComoMedio;
    font-size: 20px;
    margin-bottom: 16%;
    line-height: 1;
    color: #fff;
}

  .texto-dois {
    color: #fff;
    margin-left: 25%;
    margin-top: 243px;
    margin-right: -60px;
}

.container-fluid .texto-destaque {
  font-family: ComoBold;
  font-size: 20px;
  margin-left: 25%;
  margin-right: 5px;
}

.container-fluid-4 .col-sm-12 {
  width: 100vw;
  margin-top: 57px;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 39%;
}

.predio {
  width: 140%;
  height: 80%;
  margin-top: -164px;
  margin-left: -60%;
  opacity: 0.5;
  margin-bottom: 5%;
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: -89px;
  margin-right: 162px;
  margin-top: 5%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 20%;
  color: #fff;
}

.titulo-predio {
  font-family: ComoBold;
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 25%;
}

  }


  @media screen and (min-width: 1020px) {
    /*HEADER*/
  
     .capa {
      width: 334px;
      margin-left: -120px;
      margin-top: 126px;
      margin-bottom: -1%;
    }
  
    .jumbotron .titulo-um {
      margin-left: 51%;
      margin-top: -443px;
      margin-right: 57px;
      font-size: 30px;
      font-family: ComoDenso
    }
  
    .jumbotron .texto-um {
      margin-left: 51%;
      margin-right: 57px;
      font-size: 20px;
      font-family: ComoDenso;
      color: #000;
    } 
    

/*sobre*/

  .container-fluid {
    margin-top: 5px;
    text-align: justify;
    font-family: ComoMedio;
    font-size: 20px;
    line-height: 1.3;
    color: #fff;
  }

  .texto-dois {
    color: #fff;
    margin-left: 28%;
    margin-right: -18px;
    margin-top: 51%;
  }

  .container-fluid .texto-destaque {
    font-family: ComoBold;
    font-size: 20px;
    margin-left: 28%;
    margin-right: 5px;
  }

  .container-fluid .imagem-um {
    width: 58%;
    height: 80%;
    margin-left: 7%;
}
  
  /*o serac*/

  .predio {
    width: 100%;
    height: 50%;
    margin-left: -30%;
    opacity: 0.5;
    margin-bottom: 5%;
    
  }
  
  .predio-texto {
    font-family: ComoMedio;
    margin-left: -116px;
    margin-right: 15%;
    margin-top: 5%;
    font-size: 20px;
    text-align: justify;
    margin-bottom: 20%;
    color: #fff;
  }

/*jhonny*/

.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  margin-top: 15%;
  font-size: 20px;
  margin-left: 28px;
  margin-right: 31px;
}


.foto-jhonny {
  width: 76%;
  margin-left: 5%;
  margin-top: -17px;
}

.pc-jhonny {
  width: 190%;
  margin-top: 50px;
  margin-left: -90px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 133px;
  margin-right: 8%;
  margin-top: 41px;
  margin-bottom: 6px; }

  /*SERVICOS*/

.titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 9%;
  margin-right: -24%;
  font-size: 20px;
  list-style: inside;
}

/*Clientes*/
.clientes-titulo {
  text-align: center;
  font-family: comoBold;
  color: #fff;
  font-size: 30px;
}

 .primo-pc {
  width: 52%;
  height: 20%;
  margin-left: 131px;
  margin-top: -168px;
}

.texto-primo {
  margin-top: 20px;
  color: #fff;
  font-family: ComoNormal;
  font-size: 20px;
  text-align: justify;
}

  }


  @media screen and (min-width: 1100px) {
    .capa {
    width: 332px;
    margin-left: -38%;
    margin-top: 128px;
    margin-bottom: -1%;
  }
  }

  @media screen and (min-width:1200px) {
    .capa {
      width: 332px;
      margin-left: 23%;
      margin-top: 128px;
      margin-bottom: -1%;
  }

  .textos-celular {
    font-family: ComoDenso;
    color: #000;
    margin-left: 255px;
    margin-right: 313px;
    margin-top: -53px;
}


.texto-dois {
  color: #fff;
  margin-left: 26%;
  margin-right: 5px;
  margin-top: 43%;
}

.container-fluid .texto-destaque {
  font-family: ComoBold;
  font-size: 20px;
  margin-left: 26%;
  margin-right: 5px;
}


.container-fluid .imagem-um {
  width: 53%;
  height: 80%;
  margin-top: 216px;
  margin-left: 2%;
}

  }


  @media screen and (min-width:1300px) {


  }


  @media screen and (min-width: 1500px) {
    /*HEADER*/
  
    .capa {
      width: 521px;
      margin-left: 22%;
      margin-top: 152px;
      margin-bottom: 70%;
    }
  
    .jumbotron .titulo-um {
      margin-left: 51%;
      margin-top: 6%;
      margin-right: 180px;
      font-size: 30px;
      font-family: ComoDenso;
    }
  
    .jumbotron .texto-um {
      margin-left: 51%;
      margin-right: 180px;
      font-family: ComoDenso;
      font-size: 20px;
      color: #000;
    } 

/*sobre*/

.container-fluid {
  margin-top: -90px;
  text-align: justify;
  font-family: ComoMedio;
  font-size: 20px;
  margin-bottom: -10%;
  line-height: 1.3;
  color: #fff;
}

.texto-dois {
  color: #fff;
  margin-left: 31%;
  margin-right: 4px;
  margin-top: 7%;
}

.container-fluid .texto-destaque {
  font-family: ComoBold;
  font-size: 20px;
  margin-left: 31%;
  margin-right: 5px;
}

.container-fluid .imagem-um {
  width: 68%;
  height: 68%;
  margin-left: 2%;
}

/*BENEFICIOS*/

.container-fluid-4 {
  margin-top: 38px;
  margin-bottom: 2%;
}

.container-fluid-4 .col-sm-12 {
  background-color: #F39325;
  height: 100%;
  width: 160%;
  color: #fff;
  margin-top: 20px;
  margin-left: -282px;
  background-repeat: no-repeat;
  font-family: ComoBold;
  text-align: center;
  font-size: 20px;
  margin-bottom: 8px;
}
    
    .titulo-bene {
      padding-top: 15px;
      padding-bottom: 12px;
      margin-left: 10%;
      margin-right: 10%;
    }
    
    .lista-beneficio {
      list-style: inside;
      text-align: justify;
      margin-right: -13%;
      margin-left: 18%;;
      color: #fff;
      font-size: 20px;
      font-family: ComoMedio;
    }
  
    
    /*O SERAC*/
    
    .container-fluid-2 {
      margin-bottom: -58px;
    }
    
    .titulo-predio {
      font-family: ComoBold;
      text-align: center;
      color: #fff;
      font-size: 30px;
      margin-top: 10%;
    }
  
.predio {
  width: 96%;
  height: 90%;
  margin-left: 40%;
  opacity: 0.5;
  margin-bottom: 52%;
  margin-top: -85px;
}

.predio-texto {
  font-family: ComoMedio;
  margin-left: 0%;
  margin-right: 30%;
  margin-top: 5%;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 10%;
  color: #fff;
}

/*jhonny*/

.titulo-jhonny {
  font-size: 30px;
  margin-top: 4%;
}

.texto-jhonny {
  color: #fff;
  text-align: justify;
  font-family: ComoMedio;
  margin-top: 8%;
  font-size: 20px;
  margin-left: 217px;
  margin-right: 31px;
}


.foto-jhonny {
  width: 39%;
  margin-left: 5%;
  margin-top: -27px;
}

.pc-jhonny {
  width: 130%;
  margin-top: -3px;
  margin-left: 82px;
}

.texto-jhonny-2 {
  color: #fff;
  font-size: 20px;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 133px;
  margin-right:30%;
  margin-top: 41px;
  margin-bottom: 6px; }

 /*SERVICOS*/

 .titulo-servico {
  font-family: ComoBold;
  font-size: 30px;
  text-align: center;
  color: #fff;
}

.servicos {
  color: #fff;
  font-family: ComoMedio;
  text-align: justify;
  margin-left: 32%;
  margin-right: 7%;
  font-size: 20px;
  list-style: inside;
}


  }

 